@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Corinthia:wght@700&family=Inconsolata:wght@200&family=Oswald:wght@200;300;600&family=PT+Serif:ital@1&family=Poppins:wght@100&family=Roboto+Condensed:ital,wght@1,300&family=Roboto+Mono:wght@200&display=swap');
body{
    font-family: 'Bakbak One', cursive;
    margin: 0px;
    padding: 0px;
}

/* Barre de navigation */
nav{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    position: sticky;
    top: 0;
}
nav h1{
    font-size: 30px;
}
nav .onglets{
    display: flex;
    flex-wrap:wrap;
}
nav .onglets p{
    font-size: 17px;
    margin-right: 10px;
    cursor: pointer;
}
nav .onglets a{
    font-size: 17px;
    margin-right: 10px;
    cursor: pointer;
    text-decoration: none;
}
nav .onglets input{
    margin: 8px 20px;
    padding: 15px;
    border-radius: 30px;
    border:none;
    outline: none;
    background-color: #f2f2f2;
}
/* Fin de la barre de navigation */

/* Header */
header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
header h1{
    font-size: 50px;
    max-width: 500px;
    text-align: center;
}
header button{
    padding: 15px 20px;
    font-size: 20px;
    border:none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}
/* Fin du Header */

/* Section principal */
.main{
    margin: 20px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Toutes les cartes */
.cards{
    display: flex;
    flex-wrap: wrap;
}
.cards .card{
    margin-right: 20px;
    cursor: pointer;
}
.cards .card img{
    width: 350px;
}
.cards .card .card-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cards .card .card-body p{
    margin-top: -10px;
}
/* Fin des cartes */

/* Video de présentation */
.main .video{
    margin-top: 80px;
    width: 90%;
}
.main .video iframe{
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 800px;
}
/* Fin de la video de présentation */
/* Fin de section principal */

/* Pied de page */

footer{
    margin-top: 100px;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    padding: 30px;
}
footer .social-media{
    display: flex;
}
footer .social-media p{
    margin-right: 15px;
    border: 1px solid #fff;
    border-radius: 100%;
    padding: 5px;
    text-align: center;
    width: 20px;
    cursor: pointer;
}
/* Fin du pied de page */

@media screen and (max-width: 640px){
    nav .onglets .link, nav h1{
        display:none;
    }
    .cards .card{
        margin-left: 10px;
    }
    .cards .card img{
        width: 300px;
    }
}
